<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-t-50 p-b-90" style="text-align: center;">
            <span class="login100-form-title p-b-51" style="padding-bottom: 10px;">
                Welcome to Student Track!
            </span>
            <p class="txt1">
                Keep track of your school work and projects all in one place!
            </p>
            <div style="text-align: center;">
                <div class="container-login100-form-login-btn m-t-17" style="padding-bottom: 20px; margin-left: auto;">
                    <button (click)="homeButtonClick('login')" class="login100-form-login-btn">
                        Login
                    </button>
                </div>

                <div class="container-login100-form-login-btn m-t-17" style="padding-bottom: 20px; margin-left: auto;">
                    <button (click)="homeButtonClick('signup')" class="login100-form-login-btn">
                        Signup
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>